@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 24 95% 53%;
    
    --card: 0 0% 3%;
    --card-foreground: 24 95% 53%;
    
    --popover: 0 0% 3%;
    --popover-foreground: 24 95% 53%;
    
    --primary: 199 95% 48%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 0 0% 13%;
    --secondary-foreground: 24 95% 53%;
    
    --muted: 0 0% 13%;
    --muted-foreground: 24 95% 53%;
    
    --accent: 0 0% 13%;
    --accent-foreground: 24 95% 53%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 0 0% 13%;
    --input: 0 0% 13%;
    --ring: 24 95% 53%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}